
TELEGRAM_BOT_TOKEN=your_bot_token_here

# Redis Configuration
REDIS_URL=redis://localhost:6379/4

#Mongo 
MONGODB_URI=mongodb://localhost:27017/koche-bot

# Application Configuration
NODE_ENV=development
PORT=3000